{% extends 'Layout.html' %}

{% block body %}
	<h1>Articles</h1>
	<ui class="list-group">

	{% for article,date in zip(articles,datediff) %}
		<li class="list-group-item">
			<a href="/article/{{article.id}}">{{article.title}}</a>
			<br> {{date}} ago
		</li>
	{% endfor%}
	</ui>

	<script type="text/javascript">
		function( date1 ) {
  //Get 1 day in milliseconds
  var one_day=1000*60*60*24;

  var date2 = new date(); 	  
  // Convert both dates to milliseconds
  var date1_ms = date1.getTime();
  var date2_ms = date2.getTime();

  // Calculate the difference in milliseconds
  var difference_ms = date2_ms - date1_ms;

  // Convert back to days and return
  return Math.round(difference_ms/one_day); 
}

	</script>
{% endblock %}